/*Stylesheet*/

#container{
    display: flex;
    width: 0;
    height: 0;
    flex-wrap: wrap;
}/*creates 16x16 grid*/

.square {
    color: rgba(57, 7, 7, 0);
    width: 1em;
    height: 1em;
    background-color: lightblue;
  }
  