/*Stylesheet*/

#container{
    position: relative;
}

.square {
    display: inline-block;
    color: rgba(57, 7, 7, 0);
    width: 1em;
    height: 1em;
    background-color: lightblue;
    position: relative;/*positions the squares next to each other*/
    top: 50%;
    transform: translateY(-50%);
  }
  